<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackArrow_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,417},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>BackArrow_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,497},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Home_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,363},{174,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,67}}</string>
                <key>sourceSize</key>
                <string>{174,67}</string>
            </dict>
            <key>Home_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,291},{174,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,67}}</string>
                <key>sourceSize</key>
                <string>{174,67}</string>
            </dict>
            <key>MoreApps_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,489},{174,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,67}}</string>
                <key>sourceSize</key>
                <string>{174,67}</string>
            </dict>
            <key>MoreApps_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,417},{174,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,67}}</string>
                <key>sourceSize</key>
                <string>{174,67}</string>
            </dict>
            <key>PlayAgain_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,314},{260,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,98}}</string>
                <key>sourceSize</key>
                <string>{260,98}</string>
            </dict>
            <key>PlayAgain_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,211},{260,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,98}}</string>
                <key>sourceSize</key>
                <string>{260,98}</string>
            </dict>
            <key>RateApp_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,561},{174,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,67}}</string>
                <key>sourceSize</key>
                <string>{174,67}</string>
            </dict>
            <key>RateApp_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,435},{174,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,67}}</string>
                <key>sourceSize</key>
                <string>{174,67}</string>
            </dict>
            <key>VisitSite_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,187},{192,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,47}}</string>
                <key>sourceSize</key>
                <string>{192,47}</string>
            </dict>
            <key>VisitSite_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,239},{192,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,47}}</string>
                <key>sourceSize</key>
                <string>{192,47}</string>
            </dict>
            <key>about_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,96},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>about_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,5},{226,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,86}}</string>
                <key>sourceSize</key>
                <string>{226,86}</string>
            </dict>
            <key>play_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,108},{260,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,98}}</string>
                <key>sourceSize</key>
                <string>{260,98}</string>
            </dict>
            <key>play_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{260,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,98}}</string>
                <key>sourceSize</key>
                <string>{260,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonsAndResources-Smart-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60dab0874223bce97b54d9480923b43$</string>
            <key>textureFileName</key>
            <string>buttonsAndResources-Smart-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
