<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>123_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,402},{326,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,180}}</string>
                <key>sourceSize</key>
                <string>{326,180}</string>
            </dict>
            <key>123_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,184},{326,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,180}}</string>
                <key>sourceSize</key>
                <string>{326,180}</string>
            </dict>
            <key>ABCcap_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,220},{326,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,180}}</string>
                <key>sourceSize</key>
                <string>{326,180}</string>
            </dict>
            <key>ABCcap_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{326,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,180}}</string>
                <key>sourceSize</key>
                <string>{326,180}</string>
            </dict>
            <key>PlayAll_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{676,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,107}}</string>
                <key>sourceSize</key>
                <string>{676,109}</string>
            </dict>
            <key>PlayAll_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{676,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,107}}</string>
                <key>sourceSize</key>
                <string>{676,109}</string>
            </dict>
            <key>Shapes_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,366},{326,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,180}}</string>
                <key>sourceSize</key>
                <string>{326,180}</string>
            </dict>
            <key>Shapes_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{326,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,180}}</string>
                <key>sourceSize</key>
                <string>{326,180}</string>
            </dict>
            <key>abc_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,366},{326,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,180}}</string>
                <key>sourceSize</key>
                <string>{326,180}</string>
            </dict>
            <key>abc_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{326,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,180}}</string>
                <key>sourceSize</key>
                <string>{326,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MaterialSelectionButtons-hd.pvr.gz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9c91af92c85b5db374838227a9cb886$</string>
            <key>textureFileName</key>
            <string>MaterialSelectionButtons-hd.pvr.gz</string>
        </dict>
    </dict>
</plist>
