<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SmartHenry_Shape_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,5},{73,71}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{73,71}}</string>
			<key>sourceSize</key>
			<string>{73,71}</string>
		</dict>
		<key>SmartHenry_Shape_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{5,5},{75,67}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{75,67}}</string>
			<key>sourceSize</key>
			<string>{75,67}</string>
		</dict>
		<key>SmartHenry_Shape_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,83},{73,37}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>SmartHenry_Shape_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,127},{47,73}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,2},{47,73}}</string>
			<key>sourceSize</key>
			<string>{47,73}</string>
		</dict>
		<key>SmartHenry_Shape_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{5,155},{43,75}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{43,75}}</string>
			<key>sourceSize</key>
			<string>{43,75}</string>
		</dict>
		<key>SmartHenry_Shape_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{5,77},{73,73}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{73,73}}</string>
			<key>sourceSize</key>
			<string>{73,73}</string>
		</dict>
		<key>SmartHenry_Shape_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,5},{73,73}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{73,73}}</string>
			<key>sourceSize</key>
			<string>{73,73}</string>
		</dict>
		<key>SmartHenry_Shape_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,125},{71,73}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{71,73}}</string>
			<key>sourceSize</key>
			<string>{71,73}</string>
		</dict>
		<key>SmartHenry_Shape_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,81},{73,41}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{73,41}}</string>
			<key>sourceSize</key>
			<string>{73,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ShapeTextures.pvr.ccz</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dcc1295362b1fbbcf509d0c0bdeca784$</string>
		<key>textureFileName</key>
		<string>ShapeTextures.pvr.ccz</string>
	</dict>
</dict>
</plist>
