<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SmartHenry_Shape_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,5},{148,142}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{148,142}}</string>
			<key>sourceSize</key>
			<string>{148,142}</string>
		</dict>
		<key>SmartHenry_Shape_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{5,5},{150,134}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{150,134}}</string>
			<key>sourceSize</key>
			<string>{150,134}</string>
		</dict>
		<key>SmartHenry_Shape_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{5,295},{142,72}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{142,72}}</string>
			<key>sourceSize</key>
			<string>{142,72}</string>
		</dict>
		<key>SmartHenry_Shape_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,301},{94,146}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,4},{94,146}}</string>
			<key>sourceSize</key>
			<string>{94,146}</string>
		</dict>
		<key>SmartHenry_Shape_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,301},{86,148}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,2},{86,148}}</string>
			<key>sourceSize</key>
			<string>{86,148}</string>
		</dict>
		<key>SmartHenry_Shape_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{5,144},{146,146}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{146,146}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>SmartHenry_Shape_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,90},{144,144}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{144,144}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>SmartHenry_Shape_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,152},{142,144}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{142,144}}</string>
			<key>sourceSize</key>
			<string>{142,144}</string>
		</dict>
		<key>SmartHenry_Shape_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,5},{146,80}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{146,80}}</string>
			<key>sourceSize</key>
			<string>{146,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ShapeTextures-hd.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f69901f937e9227bc2a471baf5ae7182$</string>
		<key>textureFileName</key>
		<string>ShapeTextures-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
