<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Snowflake</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5167,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>1</real>
                        <key>restitution</key> <real>0.5</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 20.500,51.500 }</string>	
								<string>{ 17.500,45.500 }</string>	
								<string>{ 32.500,34.500 }</string>	
								<string>{ 34.500,37.500 }</string>	
								<string>{ 34.500,45.500 }</string>	
								<string>{ 32.500,49.500 }</string>	
								<string>{ 27.500,51.500 }</string>
							</array>
							<array>	
								<string>{ -36.500,-37.500 }</string>	
								<string>{ -29.500,-37.500 }</string>	
								<string>{ -39.500,-25.500 }</string>	
								<string>{ -39.500,-31.500 }</string>
							</array>
							<array>	
								<string>{ -52.500,7.500 }</string>	
								<string>{ -56.500,1.500 }</string>	
								<string>{ -55.500,-6.500 }</string>	
								<string>{ -52.500,-10.500 }</string>	
								<string>{ -44.500,-10.500 }</string>	
								<string>{ -44.500,7.500 }</string>
							</array>
							<array>	
								<string>{ -36.500,34.500 }</string>	
								<string>{ -37.500,30.500 }</string>	
								<string>{ -38.500,22.500 }</string>	
								<string>{ -13.500,-48.500 }</string>	
								<string>{ -11.500,-52.500 }</string>	
								<string>{ 14.500,-52.500 }</string>	
								<string>{ -29.500,34.500 }</string>
							</array>
							<array>	
								<string>{ 14.500,48.500 }</string>	
								<string>{ 10.500,49.500 }</string>	
								<string>{ 2.500,49.500 }</string>	
								<string>{ 0.500,47.500 }</string>	
								<string>{ 15.500,45.500 }</string>
							</array>
							<array>	
								<string>{ 20.500,-54.500 }</string>	
								<string>{ 31.500,-54.500 }</string>	
								<string>{ 34.500,-50.500 }</string>	
								<string>{ 34.500,-41.500 }</string>	
								<string>{ 32.500,-37.500 }</string>	
								<string>{ 17.500,-48.500 }</string>
							</array>
							<array>	
								<string>{ 46.500,-25.500 }</string>	
								<string>{ 49.500,-19.500 }</string>	
								<string>{ 49.500,-14.500 }</string>	
								<string>{ 47.500,-10.500 }</string>	
								<string>{ 42.500,-25.500 }</string>
							</array>
							<array>	
								<string>{ -17.500,50.500 }</string>	
								<string>{ -27.500,51.500 }</string>	
								<string>{ -31.500,46.500 }</string>	
								<string>{ -31.500,37.500 }</string>	
								<string>{ -29.500,36.500 }</string>	
								<string>{ -14.500,44.500 }</string>
							</array>
							<array>	
								<string>{ -11.500,49.500 }</string>	
								<string>{ -12.500,45.500 }</string>	
								<string>{ 0.500,47.500 }</string>	
								<string>{ -2.500,49.500 }</string>
							</array>
							<array>	
								<string>{ -16.500,-54.500 }</string>	
								<string>{ -13.500,-48.500 }</string>	
								<string>{ -29.500,-37.500 }</string>	
								<string>{ -31.500,-41.500 }</string>	
								<string>{ -31.500,-49.500 }</string>	
								<string>{ -29.500,-53.500 }</string>
							</array>
							<array>	
								<string>{ -46.500,16.500 }</string>	
								<string>{ -44.500,7.500 }</string>	
								<string>{ -29.500,-37.500 }</string>	
								<string>{ -13.500,-48.500 }</string>	
								<string>{ -38.500,22.500 }</string>	
								<string>{ -42.500,22.500 }</string>
							</array>
							<array>	
								<string>{ -42.500,-25.500 }</string>	
								<string>{ -39.500,-25.500 }</string>	
								<string>{ -44.500,-10.500 }</string>	
								<string>{ -46.500,-13.500 }</string>	
								<string>{ -45.500,-21.500 }</string>
							</array>
							<array>	
								<string>{ 40.500,-36.500 }</string>	
								<string>{ 42.500,-32.500 }</string>	
								<string>{ 42.500,-25.500 }</string>	
								<string>{ 32.500,-37.500 }</string>
							</array>
							<array>	
								<string>{ 57.500,4.500 }</string>	
								<string>{ 52.500,7.500 }</string>	
								<string>{ 47.500,7.500 }</string>	
								<string>{ 47.500,-10.500 }</string>	
								<string>{ 56.500,-10.500 }</string>	
								<string>{ 57.500,-8.500 }</string>
							</array>
							<array>	
								<string>{ 40.500,32.500 }</string>	
								<string>{ 32.500,34.500 }</string>	
								<string>{ 17.500,-48.500 }</string>	
								<string>{ 42.500,21.500 }</string>	
								<string>{ 42.500,28.500 }</string>
							</array>
							<array>	
								<string>{ 45.500,21.500 }</string>	
								<string>{ 42.500,21.500 }</string>	
								<string>{ 47.500,7.500 }</string>	
								<string>{ 49.500,10.500 }</string>	
								<string>{ 49.500,15.500 }</string>
							</array>
							<array>	
								<string>{ -39.500,29.500 }</string>	
								<string>{ -38.500,22.500 }</string>	
								<string>{ -37.500,30.500 }</string>
							</array>
							<array>	
								<string>{ 42.500,-25.500 }</string>	
								<string>{ 47.500,-10.500 }</string>	
								<string>{ 47.500,7.500 }</string>	
								<string>{ 42.500,21.500 }</string>	
								<string>{ 17.500,-48.500 }</string>	
								<string>{ 32.500,-37.500 }</string>
							</array>
							<array>	
								<string>{ -39.500,-25.500 }</string>	
								<string>{ -29.500,-37.500 }</string>	
								<string>{ -44.500,7.500 }</string>	
								<string>{ -44.500,-10.500 }</string>
							</array>
							<array>	
								<string>{ 32.500,34.500 }</string>	
								<string>{ 17.500,45.500 }</string>	
								<string>{ -12.500,45.500 }</string>	
								<string>{ -14.500,44.500 }</string>	
								<string>{ 14.500,-52.500 }</string>	
								<string>{ 17.500,-48.500 }</string>
							</array>
							<array>	
								<string>{ 0.500,47.500 }</string>	
								<string>{ -12.500,45.500 }</string>	
								<string>{ 15.500,45.500 }</string>
							</array>
							<array>	
								<string>{ -29.500,36.500 }</string>	
								<string>{ -29.500,34.500 }</string>	
								<string>{ 14.500,-52.500 }</string>	
								<string>{ -14.500,44.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

