<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,766},{70,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{70,118}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,616},{76,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{76,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,634},{115,142}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{115,142}}</string>
                <key>sourceSize</key>
                <string>{123,200}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,497},{142,132}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{142,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,616},{126,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,342},{126,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,411},{142,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,200}}</string>
                <key>sourceSize</key>
                <string>{142,200}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,669},{75,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,210},{130,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,127}}</string>
                <key>sourceSize</key>
                <string>{130,127}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,270},{148,136}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{148,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,814},{118,189}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{118,189}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{209,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{209,114}}</string>
                <key>sourceSize</key>
                <string>{225,140}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,273},{50,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,144}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,124},{50,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,144}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,5},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,464},{140,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,210},{150,55}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,55}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,5},{132,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,279},{145,180}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{145,180}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,781},{99,66}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{99,66}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,889},{86,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{86,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,124},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,814},{61,188}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{61,188}}</string>
                <key>sourceSize</key>
                <string>{69,200}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,852},{96,132}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{96,132}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,771},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,749},{124,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{124,60}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,684},{124,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{124,60}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,619},{124,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{124,60}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>halloweenSpritesFile.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9080536fc4f46aef7b72de6fc79655a$</string>
            <key>textureFileName</key>
            <string>halloweenSpritesFile.png</string>
        </dict>
    </dict>
</plist>
